@model ReservationAddModel;
@{
    ViewData["Title"] = "Dodaj rezerwację";
}
<h2>Dodaj rezerwację</h2>
<form method="post" asp-action="Add">
    <div class="form-group">
        <label for="Name" asp-for="Name">Imię</label>
        <input type="text" class="form-control" id="Name" name="Name" placeholder="Imię" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label for="LastName" asp-for="LastName">Nazwisko</label>
        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Nazwisko" asp-for="LastName">
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label for="Email" asp-for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" asp-for="Email">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label for="Phone" asp-for="Phone">Numer telefonu</label>
        <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Numer telefonu" asp-for="Phone">
        <span class="text-danger" asp-validation-for="Phone"></span>
    </div>
    <div class="form-group">
        <label for="CheckIn" asp-for="CheckIn">Data od</label>
        <input type="date" class="form-control" id="CheckIn" name="CheckIn" asp-for="CheckIn">
        <span class="text-danger" asp-validation-for="CheckIn"></span>
    </div>
    <div class="form-group">
        <label for="CheckOut" asp-for="CheckOut">Data do</label>
        <input type="date" class="form-control" id="CheckOut" name="CheckOut" asp-for="CheckOut">
        <span class="text-danger" asp-validation-for="CheckOut"></span>
    </div>
    <div class="form-group">
        <label for="RoomId">Pokój</label>
        <select class="form-control" id="RoomId" name="RoomId" asp-for="RoomId" asp-items="Model.Rooms">
            <option value="">Wybierz pokój</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>
